{% extends 'main/base.html' %}
{% load static %}

{% block head %}
    <style>
        body {
            background: url("{% static "img/bg-06.jpg" %}");
            background-size: cover;
        }
    </style>
{% endblock %}

{% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static "img/zomato-logo1.png" %}" width="150" height="30" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'restaurants' %}?filter=rating&reverse=False">All Restaurants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'addrestaurant' %}">Add Restaurant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <br>
        <h1 class="text-center">Welcome {{ username| title }},</h1>
        <br>
        <h5 class="text-center">Here are a few quick actions:</h5>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <a href ="{% url 'restaurants' %}?filter=rating&reverse=False">
                <img src="{% static "img/list.jpg" %}">
                <div class="carousel-caption">
                    <h2 class="text-white">Find the best Restaurants, Cafés and Bars</h2>
                </div>
            </a>
        </div>
        <div class="col-sm-5">.
            <a href ="{% url 'addrestaurant' %}">
                <img src="{% static "img/add.jpg" %}">
                <div class="carousel-caption">
                    <h2 class="text-white">Restaurant Owner? <br> Showcase your hotel to more than 10,000 viewers</h2>
                </div>
            </a>
        </div>
    </div>

{% endblock %}